Repository JensPeeters/dotNetAcademy: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-angular.yml, azure-pipelines/azure-pipelines-api.yml

azure-pipelines/azure-pipelines-angular.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - script: 'npm install -g @angular/cli
  
      '
    displayName: install Angular CLI
  - task: Npm@1
    inputs:
      command: install
      workingDir: dotNETAcademy
  ...

azure-pipelines/azure-pipelines-api.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
      projects: Server/dotNETAcademyServer/dotNETAcademyServer.csproj
      arguments: --configuration $(BuildConfiguration)
  - task: DotNetCoreCLI@2
    inputs:
      command: publish
  ...

Bugfix winkelwagen toevoegen/bekijken error
  Server/Business layer/WinkelwagenFacade.cs
  Server/Data layer/Interfaces/IWinkelwagenRepository.cs
  Server/Data layer/Repositories/WinkelwagenRepository.cs
Due: azure-pipelines/azure-pipelines-api.yml

Finish update user + bugfix
  dotNETAcademy/src/app/admin-panel/update-user/update-user.component.ts
  dotNETAcademy/src/app/product-info/product-info.component.html
  dotNETAcademy/src/app/product-info/product-info.component.ts
  dotNETAcademy/src/app/productenlijst/product/product.component.html
  dotNETAcademy/src/app/productenlijst/product/product.component.ts
  dotNETAcademy/src/app/productenlijst/productenlijst.component.ts
  dotNETAcademy/src/app/services/msal.service.ts
  dotNETAcademy/src/app/services/user.service.ts
  dotNETAcademy/src/app/toolbar/toolbar.component.html
  dotNETAcademy/src/app/toolbar/toolbar.component.ts
  dotNETAcademy/src/app/winkelmand/winkelmand-item/winkelmand-item.component.ts
  dotNETAcademy/src/app/winkelmand/winkelmand.component.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Image Link
  dotNETAcademy/src/app/toolbar/toolbar.component.html
Due: azure-pipelines/azure-pipelines-angular.yml

User Report
  dotNETAcademy/src/app/admin-panel/admin-panel.component.html
  dotNETAcademy/src/app/admin-panel/admin-panel.component.ts
  dotNETAcademy/src/app/admin-panel/update-user/update-user.component.ts
  dotNETAcademy/src/app/admin-panel/user-report/report-bestelling/report-bestelling.component.html
  dotNETAcademy/src/app/admin-panel/user-report/report-bestelling/report-bestelling.component.scss
  dotNETAcademy/src/app/admin-panel/user-report/report-bestelling/report-bestelling.component.spec.ts
  dotNETAcademy/src/app/admin-panel/user-report/report-bestelling/report-bestelling.component.ts
  dotNETAcademy/src/app/admin-panel/user-report/user-report.component.html
  dotNETAcademy/src/app/admin-panel/user-report/user-report.component.scss
  dotNETAcademy/src/app/admin-panel/user-report/user-report.component.spec.ts
  dotNETAcademy/src/app/admin-panel/user-report/user-report.component.ts
  dotNETAcademy/src/app/app-routing.module.ts
  dotNETAcademy/src/app/app.module.ts
  dotNETAcademy/src/app/bestellingen/bestellingen.component.ts
  dotNETAcademy/src/app/services/bestellingen.service.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Fix test
  dotNETAcademy/src/app/admin-panel/user-report/report-bestelling/report-bestelling.component.spec.ts
  dotNETAcademy/src/app/admin-panel/user-report/user-report.component.spec.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Get amount sold
  Server/Business layer/CursusFacade.cs
  Server/Business layer/Interfaces/ICursusFacade.cs
  Server/Business layer/Interfaces/ITrajectFacade.cs
  Server/Business layer/TrajectFacade.cs
  Server/Data layer/Interfaces/ICursusRepository.cs
  Server/Data layer/Interfaces/ITrajectRepository.cs
  Server/Data layer/Repositories/CursusRepository.cs
  Server/Data layer/Repositories/TrajectRepository.cs
  Server/dotNETAcademyServer/Controllers/CursusController.cs
  Server/dotNETAcademyServer/Controllers/TrajectController.cs
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.html
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.scss
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.ts
  dotNETAcademy/src/app/services/producten.service.ts
Due: azure-pipelines/azure-pipelines-angular.yml, azure-pipelines/azure-pipelines-api.yml

Fix Name
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.html
Due: azure-pipelines/azure-pipelines-angular.yml

Visuele bugix productenbeheer
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.scss
Due: azure-pipelines/azure-pipelines-angular.yml

pdfsharp test
  Server/dotNETAcademyServer/Controllers/BestellingController.cs
  Server/dotNETAcademyServer/Services/PDFGenerator.cs
Due: azure-pipelines/azure-pipelines-api.yml

pdfsharp in commentaar zetten
  Server/dotNETAcademyServer/Controllers/BestellingController.cs
Due: azure-pipelines/azure-pipelines-api.yml

Add not-found + no-admin
  dotNETAcademy/src/app/app-routing.module.ts
  dotNETAcademy/src/app/no-admin/no-admin.component.html
  dotNETAcademy/src/app/no-admin/no-admin.component.scss
  dotNETAcademy/src/app/not-found/not-found.component.html
  dotNETAcademy/src/app/not-found/not-found.component.scss
  dotNETAcademy/src/app/not-found/not-found.component.spec.ts
  dotNETAcademy/src/app/toolbar/toolbar.component.html
Due: azure-pipelines/azure-pipelines-angular.yml

Add Authorization to API
  Server/dotNETAcademyServer/Controllers/AdminController.cs
  Server/dotNETAcademyServer/Controllers/BestellingController.cs
  Server/dotNETAcademyServer/Controllers/CursusController.cs
  Server/dotNETAcademyServer/Controllers/KlantController.cs
  Server/dotNETAcademyServer/Controllers/TrajectController.cs
  Server/dotNETAcademyServer/Startup.cs
  Server/dotNETAcademyServer/appsettings.json
  Server/dotNETAcademyServer/dotNETAcademyServer.csproj
Due: azure-pipelines/azure-pipelines-api.yml

Add authorization to methods
  Server/dotNETAcademyServer/Controllers/AdminController.cs
  Server/dotNETAcademyServer/Controllers/KlantController.cs
Due: azure-pipelines/azure-pipelines-api.yml

Add headers to front-end
  Server/dotNETAcademyServer/Startup.cs
  dotNETAcademy/src/app/services/bestellingen.service.ts
  dotNETAcademy/src/app/services/user.service.ts
Due: azure-pipelines/azure-pipelines-angular.yml, azure-pipelines/azure-pipelines-api.yml

Add auth header + bugfix
  Server/dotNETAcademyServer/Controllers/CursusController.cs
  Server/dotNETAcademyServer/Controllers/TrajectController.cs
  dotNETAcademy/src/app/services/bestellingen.service.ts
  dotNETAcademy/src/app/services/producten.service.ts
  dotNETAcademy/src/app/services/user.service.ts
  dotNETAcademy/src/app/services/winkelmand.service.ts
  dotNETAcademy/src/environments/environment.prod.ts
  dotNETAcademy/src/environments/environment.ts
Due: azure-pipelines/azure-pipelines-angular.yml, azure-pipelines/azure-pipelines-api.yml

bugfix taalfout
  dotNETAcademy/src/app/winkelmand/winkelmand.component.html
Due: azure-pipelines/azure-pipelines-angular.yml

Aanpassen Readme
  README.md
  Server/README.md
Due: azure-pipelines/azure-pipelines-api.yml

Path conditions:
  azure-pipelines/azure-pipelines-angular.yml: any of: dotNETAcademy
  azure-pipelines/azure-pipelines-api.yml: any of: Server
