Repository JensPeeters/dotNetAcademy: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-angular.yml, azure-pipelines/azure-pipelines-api.yml

azure-pipelines/azure-pipelines-angular.yml:

# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - dotNETAcademy/*

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    npm install -g @angular/cli
  displayName: 'install Angular CLI'

- task: Npm@1
  inputs:
    command: 'install'
    workingDir: 'dotNETAcademy'
  displayName: 'npm install'

- script: |
    cd dotNETAcademy
    ng build --prod
  displayName: 'ng build'

- script: |
    cd dotNETAcademy
    ng test --watch=false --browsers=ChromeHeadless --codeCoverage=true
  displayName: 'Running Tests'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: 'dotNETAcademy/dist/dotNETAcademy'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

azure-pipelines/azure-pipelines-api.yml:

# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - Server/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: 'build'
    projects: 'Server/dotNETAcademyServer/dotNETAcademyServer.csproj'
    arguments: '--configuration $(BuildConfiguration)'

- task: DotNetCoreCLI@2
  inputs:
    command: publish
    publishWebProjects: True
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: True

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

Bugfix voor de testen
  dotNETAcademy/src/app/product-info/product-info.component.spec.ts
  dotNETAcademy/src/app/productenlijst/productenlijst.component.spec.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Teruggeven leeg object in plaats van null bij testen
  dotNETAcademy/src/app/productenlijst/productenlijst.component.spec.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Update azure-pipelines-api.yml for Azure Pipelines
  azure-pipelines/azure-pipelines-api.yml
Due: none

Teruggeven leeg object in plaats van null bij testen
  dotNETAcademy/src/app/product-info/product-info.component.spec.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Oplossen routing probleem
  dotNETAcademy/src/app/admin-panel/admin-panel.component.html
  dotNETAcademy/src/app/admin-panel/admin-panel.component.scss
  dotNETAcademy/src/app/admin-panel/admin-panel.component.ts
  dotNETAcademy/src/app/admin-panel/create-user/create-user.component.html
  dotNETAcademy/src/app/admin-panel/create-user/create-user.component.ts
  dotNETAcademy/src/app/admin-panel/delete-user/delete-user.component.html
  dotNETAcademy/src/app/admin-panel/delete-user/delete-user.component.ts
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.html
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.scss
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.spec.ts
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.ts
  dotNETAcademy/src/app/admin-panel/update-user/update-user.component.html
  dotNETAcademy/src/app/admin-panel/update-user/update-user.component.ts
  dotNETAcademy/src/app/app-routing.module.ts
  dotNETAcademy/src/app/app.component.html
  dotNETAcademy/src/app/app.module.ts
Due: azure-pipelines/azure-pipelines-angular.yml

fix testing
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.spec.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Admin kan product zichtbaar/onzichtbaar maken in de winkel
  Server/Business layer/CursusFacade.cs
  Server/Business layer/DTO/ProductCreateUpdateDTO.cs
  Server/Business layer/DTO/ProductDTO.cs
  Server/Business layer/TrajectFacade.cs
  Server/Data layer/Migrations/20191211154058_boolBuyable.Designer.cs
  Server/Data layer/Migrations/20191211154058_boolBuyable.cs
  Server/Data layer/Migrations/20191211155031_boolBuyableFix.Designer.cs
  Server/Data layer/Migrations/20191211155031_boolBuyableFix.cs
  Server/Data layer/Model/Product.cs
  Server/Data layer/Repositories/CursusRepository.cs
  Server/Data layer/Repositories/TrajectRepository.cs
  dotNETAcademy/src/app/Interfaces/IProduct.ts
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.html
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.scss
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.ts
  dotNETAcademy/src/app/guard/admin.guard.ts
  dotNETAcademy/src/app/services/producten.service.ts
Due: azure-pipelines/azure-pipelines-angular.yml, azure-pipelines/azure-pipelines-api.yml

Add Update klant
  Server/Business layer/Interfaces/IKlantFacade.cs
  Server/Business layer/KlantFacade.cs
  Server/dotNETAcademyServer/Controllers/KlantController.cs
  dotNETAcademy/src/app/admin-panel/update-user/update-user.component.html
  dotNETAcademy/src/app/admin-panel/update-user/update-user.component.scss
  dotNETAcademy/src/app/admin-panel/update-user/update-user.component.ts
  dotNETAcademy/src/app/services/user.service.ts
Due: azure-pipelines/azure-pipelines-angular.yml, azure-pipelines/azure-pipelines-api.yml

Visualiser van koopbare en niet koopbare items
  Server/Business layer/CursusFacade.cs
  Server/Business layer/Interfaces/ICursusFacade.cs
  Server/Business layer/Interfaces/ITrajectFacade.cs
  Server/Business layer/TrajectFacade.cs
  Server/Data layer/Interfaces/ICursusRepository.cs
  Server/Data layer/Interfaces/ITrajectRepository.cs
  Server/Data layer/Repositories/CursusRepository.cs
  Server/Data layer/Repositories/TrajectRepository.cs
  Server/dotNETAcademyServer/Controllers/CursusController.cs
  Server/dotNETAcademyServer/Controllers/TrajectController.cs
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.ts
  dotNETAcademy/src/app/productenlijst/productenlijst.component.ts
  dotNETAcademy/src/app/services/producten.service.ts
Due: azure-pipelines/azure-pipelines-angular.yml, azure-pipelines/azure-pipelines-api.yml

Meer informatie tonen van een bestelling
  Server/Business layer/BestellingFacade.cs
  Server/Business layer/Interfaces/IBestellingFacade.cs
  Server/Data layer/Interfaces/IBestellingRepository.cs
  Server/Data layer/Repositories/BestellingRepository.cs
  Server/dotNETAcademyServer/Controllers/BestellingController.cs
  dotNETAcademy/src/app/app-routing.module.ts
  dotNETAcademy/src/app/app.module.ts
  dotNETAcademy/src/app/bestelling-info/bestelling-info.component.html
  dotNETAcademy/src/app/bestelling-info/bestelling-info.component.scss
  dotNETAcademy/src/app/bestelling-info/bestelling-info.component.spec.ts
  dotNETAcademy/src/app/bestelling-info/bestelling-info.component.ts
  dotNETAcademy/src/app/bestellingen/bestelling/bestelling.component.html
  dotNETAcademy/src/app/services/bestellingen.service.ts
Due: azure-pipelines/azure-pipelines-angular.yml, azure-pipelines/azure-pipelines-api.yml

Toevoegen product als admin
  Server/Data layer/Repositories/TrajectRepository.cs
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.html
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.ts
  dotNETAcademy/src/app/services/producten.service.ts
Due: azure-pipelines/azure-pipelines-angular.yml, azure-pipelines/azure-pipelines-api.yml

Admin kan een product updaten
  Server/Data layer/Repositories/TrajectRepository.cs
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.html
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.ts
  dotNETAcademy/src/app/guard/admin.guard.ts
  dotNETAcademy/src/app/services/producten.service.ts
Due: azure-pipelines/azure-pipelines-angular.yml, azure-pipelines/azure-pipelines-api.yml

Fix tests
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.spec.ts
  dotNETAcademy/src/app/productenlijst/productenlijst.component.spec.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Responsive design + oplossen falen test backend
  Server/UnitTestDotNET/CursusTest.cs
  Server/UnitTestDotNET/TrajectTest.cs
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.html
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.scss
Due: azure-pipelines/azure-pipelines-angular.yml, azure-pipelines/azure-pipelines-api.yml

Verwijderen onnodige logs
  dotNETAcademy/src/app/productenlijst/productenlijst.component.spec.ts
  dotNETAcademy/src/app/services/producten.service.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Fixen van testen
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.spec.ts
  dotNETAcademy/src/app/productenlijst/productenlijst.component.spec.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Verwijderen this. bij injecteren van dependencies
  Server/Business layer/AdminFacade.cs
  Server/Business layer/BestellingFacade.cs
  Server/Business layer/CursusFacade.cs
  Server/Business layer/KlantFacade.cs
  Server/Business layer/TrajectFacade.cs
  Server/Business layer/WinkelwagenFacade.cs
  Server/Data layer/Repositories/AdminRepository.cs
  Server/Data layer/Repositories/BestellingRepository.cs
  Server/Data layer/Repositories/CursusRepository.cs
  Server/Data layer/Repositories/KlantRepository.cs
  Server/Data layer/Repositories/TrajectRepository.cs
  Server/Data layer/Repositories/WinkelwagenRepository.cs
  Server/dotNETAcademyServer/Controllers/AdminController.cs
  Server/dotNETAcademyServer/Controllers/BestellingController.cs
  Server/dotNETAcademyServer/Controllers/CursusController.cs
  Server/dotNETAcademyServer/Controllers/KlantController.cs
  Server/dotNETAcademyServer/Controllers/TrajectController.cs
  Server/dotNETAcademyServer/Controllers/WinkelwagenController.cs
Due: azure-pipelines/azure-pipelines-api.yml

Toevoegen aparte klassen/interfaces voor mapping
  Server/Business layer/AdminFacade.cs
  Server/Business layer/BestellingFacade.cs
  Server/Business layer/CursusFacade.cs
  Server/Business layer/Interfaces/IWinkelwagenFacade.cs
  Server/Business layer/Interfaces/Mapping/IAdminMapper.cs
  Server/Business layer/Interfaces/Mapping/IBestellingMapper.cs
  Server/Business layer/Interfaces/Mapping/ICursusMapper.cs
  Server/Business layer/Interfaces/Mapping/IKlantMapper.cs
  Server/Business layer/Interfaces/Mapping/ITrajectMapper.cs
  Server/Business layer/Interfaces/Mapping/IWinkelwagenMapper.cs
  Server/Business layer/KlantFacade.cs
  Server/Business layer/Mapping/AdminMapper.cs
  Server/Business layer/Mapping/BestellingMapper.cs
  Server/Business layer/Mapping/CursusMapper.cs
  Server/Business layer/Mapping/KlantMapper.cs
  Server/Business layer/Mapping/TrajectMapper.cs
  Server/Business layer/Mapping/WinkelwagenMapper.cs
  Server/Business layer/TrajectFacade.cs
  Server/Business layer/WinkelwagenFacade.cs
  Server/Data layer/Interfaces/IWinkelwagenRepository.cs
  Server/Data layer/Repositories/WinkelwagenRepository.cs
  Server/UnitTestDotNET/CursusTest.cs
  Server/UnitTestDotNET/TrajectTest.cs
  Server/UnitTestDotNET/WinkelwagenTest.cs
Due: azure-pipelines/azure-pipelines-api.yml

Aanpassen controle saveChanges
  Server/Data layer/Repositories/AdminRepository.cs
  Server/Data layer/Repositories/BestellingRepository.cs
  Server/Data layer/Repositories/CursusRepository.cs
  Server/Data layer/Repositories/KlantRepository.cs
  Server/Data layer/Repositories/TrajectRepository.cs
  Server/Data layer/Repositories/WinkelwagenRepository.cs
Due: azure-pipelines/azure-pipelines-api.yml

Fixen unit tests
  Server/UnitTestDotNET/CursusTest.cs
  Server/UnitTestDotNET/TrajectTest.cs
  Server/UnitTestDotNET/WinkelwagenTest.cs
  Server/dotNETAcademyServer/Startup.cs
Due: azure-pipelines/azure-pipelines-api.yml

Error opnemen in winkelwagencontroller getBagForCustomer
  Server/dotNETAcademyServer/Controllers/WinkelwagenController.cs
Due: azure-pipelines/azure-pipelines-api.yml

gebruik maken van extention methods
  Server/Business layer/StartupConfig/StartupConfiguration.cs
  Server/dotNETAcademyServer/Startup.cs
Due: azure-pipelines/azure-pipelines-api.yml

Toevoegen delete update tests
  Server/UnitTestDotNET/CursusTest.cs
  Server/UnitTestDotNET/TrajectTest.cs
Due: azure-pipelines/azure-pipelines-api.yml

Bugfix create klant + Add MakeKlantAdmin
  Server/Business layer/KlantFacade.cs
  Server/Business layer/WinkelwagenFacade.cs
  Server/Data layer/Repositories/KlantRepository.cs
Due: azure-pipelines/azure-pipelines-api.yml

Toevoegen meerdere tests
  Server/UnitTestDotNET/BestellingTest.cs
  Server/UnitTestDotNET/CursusTest.cs
  Server/UnitTestDotNET/TrajectTest.cs
Due: azure-pipelines/azure-pipelines-api.yml

Toevoegen testen aan bestellingcomponent
  dotNETAcademy/src/app/bestelling-info/bestelling-info.component.html
  dotNETAcademy/src/app/bestelling-info/bestelling-info.component.spec.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Add Change adminToKlant
  Server/Business layer/AdminFacade.cs
  Server/Business layer/Interfaces/IAdminFacade.cs
  Server/Business layer/Interfaces/IKlantFacade.cs
  Server/Business layer/KlantFacade.cs
  Server/Data layer/Repositories/KlantRepository.cs
  Server/dotNETAcademyServer/Controllers/AdminController.cs
  Server/dotNETAcademyServer/Controllers/KlantController.cs
  dotNETAcademy/src/app/admin-panel/update-user/update-user.component.html
  dotNETAcademy/src/app/admin-panel/update-user/update-user.component.ts
Due: azure-pipelines/azure-pipelines-angular.yml, azure-pipelines/azure-pipelines-api.yml

Toevoegen testen aan product en productenlijstcomponent
  dotNETAcademy/src/app/productenlijst/product/product.component.html
  dotNETAcademy/src/app/productenlijst/product/product.component.spec.ts
  dotNETAcademy/src/app/productenlijst/productenlijst.component.spec.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Verwijderen van dubbele code in de profiel spec file
  dotNETAcademy/src/app/profiel/profiel.component.spec.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Toevoegen testen aan usercomponent
  dotNETAcademy/src/app/admin-panel/create-user/create-user.component.spec.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Toevoegen testen aan productenbeheercomponent
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.spec.ts
  dotNETAcademy/src/app/productenlijst/productenlijst.component.spec.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Verkorten methode chooseproduct
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Toevoegen OrderNumber en mogelijkheid om volgorde aan te passen
  Server/Business layer/DTO/ProductCreateUpdateDTO.cs
  Server/Business layer/DTO/ProductDTO.cs
  Server/Business layer/Mapping/CursusMapper.cs
  Server/Business layer/Mapping/TrajectMapper.cs
  Server/Data layer/DbInitialiser.cs
  Server/Data layer/Filter/ContextFilter.cs
  Server/Data layer/Migrations/20191227164501_intOrderNumber.Designer.cs
  Server/Data layer/Migrations/20191227164501_intOrderNumber.cs
  Server/Data layer/Model/Cursus.cs
  Server/Data layer/Model/Product.cs
  Server/Data layer/Model/Traject.cs
  Server/Data layer/Repositories/CursusRepository.cs
  Server/Data layer/Repositories/TrajectRepository.cs
  Server/UnitTestDotNET/CursusTest.cs
  Server/UnitTestDotNET/TrajectTest.cs
  Server/dotNETAcademyServer/Controllers/CursusController.cs
  Server/dotNETAcademyServer/Controllers/TrajectController.cs
  dotNETAcademy/src/app/Interfaces/ICursus.ts
  dotNETAcademy/src/app/Interfaces/ICursussen.ts
  dotNETAcademy/src/app/Interfaces/IProduct.ts
  dotNETAcademy/src/app/Interfaces/ITraject.ts
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.html
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.spec.ts
  dotNETAcademy/src/app/admin-panel/producten-beheer/producten-beheer.component.ts
  dotNETAcademy/src/app/bestelling-info/bestelling-info.component.spec.ts
  dotNETAcademy/src/app/productenlijst/productenlijst.component.spec.ts
Due: azure-pipelines/azure-pipelines-angular.yml, azure-pipelines/azure-pipelines-api.yml

Visuele bugfixes
  dotNETAcademy/src/app/productenlijst/product/product.component.scss
  dotNETAcademy/src/app/toolbar/toolbar.component.html
  dotNETAcademy/src/app/toolbar/toolbar.component.scss
Due: azure-pipelines/azure-pipelines-angular.yml

Bugfix geen types bij een zoekresultaat
  dotNETAcademy/src/app/productenlijst/productenlijst.component.ts
Due: azure-pipelines/azure-pipelines-angular.yml

Dropdown is nu later
  dotNETAcademy/src/app/admin-panel/admin-panel.component.html
Due: azure-pipelines/azure-pipelines-angular.yml

Mogelijkheid om aanbevolen asc/desc in te stellen
  Server/Data layer/Filter/ContextFilter.cs
Due: azure-pipelines/azure-pipelines-api.yml

Cursus en traject types niet meer hardcoded
  Server/Business layer/CursusFacade.cs
  Server/Business layer/Interfaces/ICursusFacade.cs
  Server/Business layer/Interfaces/ITrajectFacade.cs
  Server/Business layer/TrajectFacade.cs
  Server/Data layer/Interfaces/ICursusRepository.cs
  Server/Data layer/Interfaces/ITrajectRepository.cs
  Server/Data layer/Repositories/CursusRepository.cs
  Server/Data layer/Repositories/TrajectRepository.cs
  Server/dotNETAcademyServer/Controllers/CursusController.cs
  Server/dotNETAcademyServer/Controllers/TrajectController.cs
Due: azure-pipelines/azure-pipelines-api.yml

Bugix collapse cursussen/trajecten bij zoeken
  dotNETAcademy/src/app/productenlijst/productenlijst.component.html
  dotNETAcademy/src/app/productenlijst/productenlijst.component.ts
Due: azure-pipelines/azure-pipelines-angular.yml
